{% extends 'base.html' %}

{% block title_block %}CF Leaderboard{% endblock %}

{% block body_block %}
<div class="container">
    <h1 class="text-sm-center">{{PROJECT_TITLE}}</h1>
    <p> This web application shows codeforces contest leaderboards of all usernames registered on this web application. </p>

    <div class="row">

        <div class="col-sm-6">
            {% if settings.SHOW_ADD_USERS_PAGE %}
            <p><a class="btn btn-primary" href="/add_users/">Add users</a></p>
            {% endif %}
        </div>

        <div class="col-sm-6 card">
        <div class="card-block">
            <form method="GET" action="/ldrbrd/" id="contest_form" role="form" >
                <div class="form-group row">
                    <label for="contest_id" class="col-sm-6" >Contest ID:</label>
                    <div class="col-sm-6">
                        <input type="text" name="contest" value="" required="required" id="contest_id" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">Show Unofficial:</div>
                    <div class="col-sm-6">
                        <label class="control-label">
                        <input type="radio" name="show_unofficial" value="true" /> True </label>
                        <label class="control-label">
                        <input type="radio" name="show_unofficial" value="false" /> False </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-primary">Show leaderboard</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
