{% extends 'base.html' %}

{% block title_block %}Welcome{% endblock %}

{% block body_block %}
<div class="container">
    <h1><a href="http://codeforces.com/contest/{{contest_id}}">{{contest_id}}</a> - {{contest.name}}</h1>
    <p> Phase: {{contest.phase}} </p>
    <table>
    <thead>
        <tr>
            <td>Intra Rank</td>
            <td>CF Rank</td>
            <td>Username</td>
            <td>Points</td>
            {% for problem in problems %}
                <td>
                <a href="http://codeforces.com/contest/{{contest_id}}/problem/{{problem.index}}">{{problem.index}}</a>
                {% if problem.points %}({{problem.points}}){% endif %}
                </td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p in participants %}
        <tr>
            {% if p.rank %}
                <td> {{forloop.counter}} </td>
                <td> {{p.rank}} </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            <td {% if p.color %}class="cf_{{p.color}}"{% endif %}>
                {% if not p.is_team %}<a href="http://codeforces.com/profile/{{p.username}}">{% endif %}
                {{p.username}}{% if p.type != 'CONTESTANT' %}*{% endif %}
                {% if p.is_team %}</a>{% endif %}
            </td>
            <td> {{p.points}} </td>
            {% for attempt in p.attempts %}
                {% if attempt.points == 0 %}
                    <td> - </td>
                {% else %}
                    <td> {{attempt.points}} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
