{% extends 'base.html' %}

{% block title_block %}Welcome{% endblock %}

{% block body_block %}
<div class="container">
    <h1>{{contest_id}} - {{contest.name}}</h1>
    <p> Phase: {{contest.phase}} </p>
    <table>
    <thead>
        <tr>
            <td>Intra Rank</td>
            <td>CF Rank</td>
            <td>Username</td>
            <td>Points</td>
            {% for problem in problems %}
                <td>{{problem.index}}{% if problem.points %}({{problem.points}}){% endif %}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            {% if participant.rank %}
                <td> {{forloop.counter}} </td>
                <td> {{participant.rank}} </td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            <td {% if participant.color %}class="cf_{{participant.color}}"{% endif %}>
                {{participant.username}}{% if participant.type != 'CONTESTANT' %}*{% endif %}
            </td>
            <td> {{participant.points}} </td>
            {% for attempt in participant.attempts %}
                {% if attempt.points == 0 %}
                    <td> - </td>
                {% else %}
                    <td> {{attempt.points}} </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
